
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
ul {
    list-style: none;
}

.completed {
    text-decoration: line-through;
}

h1{
    text-align: center;
    margin: 40px 0;
}

#form{
    width: 100%; 
    display: flex;
    justify-content: space-between;
}

.input{
    width: 60%;
    height: 40px;
    padding: 5px;
}

.btn{
    width: 15%;
}

.filter-todos{
    width: 20%;
}

#todoUL{
    margin-top: 20px;
}

.item{
    display: flex;
    justify-content: space-between;
   padding: 8px 5px;
}

.item:nth-child(odd){
    background-color: rgb(177, 169, 169);
}

.item:nth-child(even){
    background-color: rgb(131, 205, 235);
}

.text{
    min-width: 50%;
    width: 100%;
}